<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <div align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/RPDBcdDGrnE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<!--            <p class="paragraph-text justify-text">-->
<!--                I like working with computers. It's my hobby and my profession. I love the Internet and the way it works, and I am comfortable working on web applications; frontend and backend. I've worked on smartphone apps, both native and hybrid, and I have experience with Linux system administration. I have a keen interest in securing information systems and building secure systems.-->
<!--            </p>-->
<!--            <p class="paragraph-text justify-text">-->
<!--                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.-->
<!--            </p>-->
<!--            <p class="paragraph-text justify-text">-->
<!--                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.-->
<!--            </p>-->
            <p class="paragraph-text justify-text">
                I am an undergraduate student from Yantai,PRC, who is looking for more possibilities of the future life. I have been taking the bachelor's program in Communication University of China, ranking high in the list of the 113 Project 211 institutions in mainland China. For the next a few years, acquiring master's degree and PhD in a different country is what I am planning now.
            </p>
            <p class="paragraph-text justify-text">
                I enjoy figuring out the theories of how the computer systems around us work and developing some practical projects, and that's why I always try my best to learn every course well and been active in projects and competitions. During the years in university, I have experienced mornings with a cup of coffee and mid nights with classical music sitting in front of my screen tackling my tasks. Quite peaceful, isn't it?
            </p>
            <p class="paragraph-text justify-text">
                In my daily life I am a very easy-going person with many hobbies: sports, music and games, and I am looking forward to making more friends from different cultural backgrounds. My email can be found at the bottom of this page.
            </p>
        </div>
    </section>
</div>
