<div class="section-wrapper">
    <section class="section">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Works</div>
<!--            <div class="blogs-wrapper" id="rss-feeds"></div>-->
            <div align="center">
                <div style="color: white"> I also prepared some of my academic works, as I consider them a very important part to prove my academic skills besides the grades of the curriculum.  </div>
                <div style="background-color: seashell;border-radius: 10px;width: 80%;height: 100px">
                    <table style="height: inherit">
                        <tr style="height: inherit">
                            <td width="80%" >
                                <div align="center" style="text-align: center">
                                    A simple implementation of Bayesian Personalized Ranking in Matlab
                                </div>
                            </td>
                            <td width="20%">
                                <div align="center">
                                    <img src = ""
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>