<div class="section-wrapper">
    <section class="section">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Works</div>
<!--            <div class="blogs-wrapper" id="rss-feeds"></div>-->
            <div align="center">
                <div style="color: white"> I also prepared some of my academic works, as I consider them a very important part to prove my academic skills besides the grades of the curriculum.  </div>
            </div>
        </div>
    </section>
</div>