<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Works</div>
<!--            <div class="blogs-wrapper" id="rss-feeds"></div>-->
            <div style="color: white"> I also prepared some of my academic works, including PPT I used to introduce the paper I read to others, blogs, and codes, as I consider them a very important part to prove my academic skills besides the grades of the curriculum.  </div>

        </div>
    </section>
</div>