
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        During the four years at university I have been engaged in many activities besides the curriculum and learnt many new skills, like doing research, participating in competitions and organizing a web-form game for a ceremony of our school. And I'm sure with these skills and the ability to learn more skills, it won't be difficult to solve the future problems to come :)
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <h5 style="text-align: center;color: white">(Bars in blue are skills included in curriculum)</h5>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="78%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C & C++</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="65%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>HTML & CSS</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

<!--                        non-curriculum skills-->

                        <div class="skillbar clearfix " data-percent="88%">
                            <div class="skillbar-title" style="background: #b929ad;"><span>Matlab</span></div>
                            <div class="skillbar-bar" style="background: #da6fe6;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #b929ad"><span>Pytorch & shell</span></div>
                            <div class="skillbar-bar" style="background: #da6fe6;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="78%">
                            <div class="skillbar-title" style="background: #b929ad"><span>Kotlin</span></div>
                            <div class="skillbar-bar" style="background: #da6fe6"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #b929ad"><span>Android</span></div>
                            <div class="skillbar-bar" style="background: #da6fe6"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>